html,
body,
.body {
    background: #E4E5EA;
    background-color: #E4E5EA;
  p, span {
    hyphens: none !important;
  }

  .header {
    background: #FF6910;
    background-color: #FF6910;

    .columns {
      padding-top: 20px;
      padding-right: 30px !important;
      padding-bottom: 20px !important;
      padding-left: 30px !important;
      
      #kayak-logo {
        width: 126px;
        min-width: 110px;
      }
      
      #user-logo {
        max-width: 32px;
        float: right;
      }
    }

    .first {
      padding-top: 22px;
    }

    @media (max-width: 320px) {
      .first {
        padding-top: 26px !important;
      }
    }
  }

  .sub-header {
    background: #D04C03;
    background-color: #D04C03;

    .columns {
      padding-top: 10px !important;
      padding-right: 0;
      padding-bottom: 10px !important;
      padding-left: 0;
    }

    .first {
      padding-left: 30px;
    }
    
    .last {
      padding-right: 30px;
    }

    center {  
      border-right: 1px solid #FF6910;

      a img, .sub-header-img {
        width: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }

      h5 {
        color: white;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    #last-menu-block {
      border-right: none;
    }
    
    @media (max-width: 596px) {
      .columns.first {
        padding-left: 0 !important;
      }
      center#last-menu-block-small {
        border-right: none !important;
      }
      .columns {
        padding: 10px 0 !important;
      }

    }
  }

  .featured-offer-area {
    background: #EFF2F6;
    background-color: #EFF2F6;

    .columns {
      padding-top: 16px !important;
      padding-bottom: 0px !important;

      .deal-of-the-day {
        background: #14181C;
        background-color: #14181C;

        .deal-of-the-day-columns {
          padding-top: 24px !important;
          padding-right: 24px !important;
          padding-bottom: 24px !important;
          padding-left: 24px !important;

          h1 {
            color: white;
            font-weight: 900;
          }

          img {
            margin-top: 20px;
          }

          p {
            color: white;
            font-weight: 700;
            margin-top: 20px;
            font-size: 16px;
          }

          span {
            color: white;
            display: block;
          }

          .save-amount {
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;
          }

          .fine-print {
            margin-top: 3px;
            font-size: 9px;
            font-weight: 400 !important;
          }

          .price {
            font-weight: 900;
            font-size: 18px;
            margin-top: 8px;
          }

          a span, .button {
            background: #14181C;
            background-color: #14181C;
            padding: 6px 0;
            margin: 8px auto 0;
            width: 150px;
            border: 1px solid white;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 700;
          }
        }
      }
    }  
  }
  
  .content-area {
    background: #EFF2F6;
    background-color: #EFF2F6;

    .columns {
      padding-top: 16px;

      .offer {
        background: white;
        background-color: white;

        .columns {
          padding-top: 24px !important;
          padding-right: 24px !important;
          padding-bottom: 24px !important;
          padding-left: 24px !important;

          p {
            font-weight: 700;
            margin-top: 20px;
            font-size: 16px;
          }

          span {
            display: block;
          }

          .save-amount {
            color: #1E8AF3;
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;
          }

          .fine-print {
            margin-top: 3px;
            font-size: 9px;
          }

          .price {
            font-weight: 900;
            font-size: 18px;
            margin-top: 8px;
          }

          a span, .button {
            background: black;
            background-color: black;
            color: white;
            padding: 8px 0 !important;
            margin: 8px auto 0;
            width: 150px;
            border: 1px solid white;
            border-radius: 5px !important;
            font-size: 14px;
            font-weight: 700;
          }
        }
      }

      &.offer-end {
        padding-top: 0;

        .icons-dark {
          width: 180px !important;
          margin: 10px auto;
        }

        .info {
          font-size: 14px;
          font-weight: 500;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .footer-app-cta {
    background: #1F2830;
    background-color: #1F2830;
    
    .first-column {
      padding-top: 25px !important;
      padding-right: 0px !important;
      padding-bottom: 25px !important;
      padding-left: 25px !important;
      .columns {
        padding-bottom: 0px;
        img {
          width: 40px;
        }
        span {
          font-size: 14px;
          color: white;
          font-weight: 700;
        }
        & span:nth-of-type(2) {
          font-size: 12px;
          display: block;
          margin-top: 5px;
        }
        .download, .details {
          margin-right: 3px;
        }
      }
    }
    @media (max-width: 596px) {
      .first-column {
        .columns {
          padding-bottom: 2px !important;
          img {
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 2px;
            margin-left: auto;
          }
          span {
            display: block;
            text-align: center;
          }
        }
      }
    }

    .second-column {
      padding-top: 25px !important;
      padding-right: 25px !important;
      padding-bottom: 25px !important;
      padding-left: 0px !important;
      img {
        height: 42px;
        width: 130px;
      }
      .app-store-container {
        padding-bottom: 0px;
      }
    }
    .last {
      padding-bottom: 0px;
    }
    @media (max-width: 596px) {
      .app-store-container {
        padding-bottom: 2px !important; 
      }
    }  
    @media (max-width: 320px) {
      .details {
        display: none !important;
      }
      .second-column {
        #play-store {
          padding-bottom: 30px !important;
        }
      }
    }
  }

  .footer-header {
    .header, .sub-header {
      background: #14181C;
      background-color: #14181C;
    }
    .header {
      .logos-column {
        padding-left: 0px !important;
        padding-right: 30px;
        width: 105px;
        float: right;
        .social-logo {
          width: 32px;
          display: inline-block;
        }
      }
      @media (max-width: 596px) {
        .logos-column {
          width: 135px !important;
          padding-left: 0px !important;
        }
      }
      @media (max-width: 290px) {
        .logos-column {
          display: none !important;
        }
      }
    }
    .sub-header {
      border-top: 1px solid #2d3e4b;
      border-bottom: 1px solid #2d3e4b;
      center {
        border-right: 1px solid #2d3e4b;
      }
    }
  }

  .footer-bottom {
    background: #14181C;
    background-color: #14181C;
    .footer-bottom-container {
      padding-top: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 30px !important;
      padding-left: 30px !important;
      .links-container {
        padding-bottom: 5px;
        center {
          min-width: 520px;
          a {
            font-size: 12px;
            color: white;
            font-weight: 700;
            hyphens: none;
            white-space: nowrap;
            span {
              padding: 0 5px;
            }
          }
        }
      }
      .footer-fine-print {
        color: white;
        font-size: 10px;
        font-weight: 500;
        hyphens: none;
        padding-bottom: 30px;
        color: #999a9c;
      }
      p {
        color: white;
        font-size: 12px;
      }
      .copyright {
        text-align: center;
        a {
          color: white;
        }
      }
    }
  }
}